<h1> <%= @language.name %> PLAYLISTS </h1>

<% @language.playlists.order('usercount DESC').each do |t| %>
<div class="card">
  <div class="card-divider" style="background-color: #5387A9">
    <h3>
      <a href= "<%= playlist_path(t.id) %>" style="color: black">
        <%= t.name %>
      </a>
    </h3>
  </div>

  <div class="card-section" style="background-color: #748E9F">
    <p class="card-user-profile-name"> <span style="font-weight:bold"> Description: </span> <%= t.description %> </p>
    <p class="card-user-profile-name"> <span style="font-weight:bold"> Hits: </span> <%= t.usercount %> </p>
    <p class="card-user-profile-name"> <span style="font-weight:bold"> Words: </span> </p>
    <div style="height:120px;width:290px;border:1px solid #ccc;overflow:auto;">
    <% t.words.each do |a| %>
    <p class= "tab">
      <%= a %> <br/>
      </p>
    <% end %>
  </div>

    <% if user_signed_in? %>
      <%= button_to "Adopt me!", adopt_path(t.id, @language.id), :method => :patch %> <br/>
    <% end %>
  </div>
</div>
<% end %>
